<div class="private">
    <h2> Welcome {{username}} </h2>
</div>
<div>
    <h3> User Details</h3>
    <div>
        <h4>Name</h4>
        <p>{{firstname}}{{lastname}}</p>
        <h4>Profession</h4>
        <p>{{profession}}</p>
        <h4>Biography</h4>
        <p>{{bio}}</p>
    </div>
</div>